@mixin description {
    color: #030303;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    position: relative;
}

@mixin proxima400 {
    font-family: 'ProximaReg', sans-serif;
}

@mixin proxima600 {
    font-family: 'ProximaSemiBold', sans-serif;
}

@mixin proxima700 {
    font-family: 'ProximaBold', sans-serif;
}

@mixin grotesk400 {
    font-family: 'GroteskReg', sans-serif;
}

@mixin grotesk500 {
    font-family: 'GroteskMedium', sans-serif;
}

@mixin grotesk700 {
    font-family: 'GroteskBold', sans-serif;
}

@mixin oldMonitor {
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin old1024 {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin mobileL {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobileM {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mobileS {
    @media screen and (max-width: 430px) {
        @content;
    }
}