.header {
	max-width: 100%;
	box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.25);
	margin-bottom: 25px;

	.in_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;

		& .running_goose {
			flex: 0 1 65%;
			height: 80px;
			display: flex;
			align-items: flex-end;
			overflow: hidden;
			position: relative;

			& img {
				width: 100px;
				height: 80px;
				position: absolute;
				bottom: 0;
				left: -40px;
				animation: goose 4s infinite ease-out;

				@keyframes goose {
					0% {
						left: -40px;
					}

					100% {
						left: 100%
					}
				}
			}
		}

		.title_header {
			display: flex;
			align-items: center;
			gap: 30px;

			.title {
				font-size: 24px;
				font-weight: 500;
				line-height: 130%;
				letter-spacing: 0%;
				text-align: center;
				color: #000;
			}

			.logo {
				font-size: 20px;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0%;
				text-align: center;
				color: #000;
			}
		}

		.header_profile {
			display: flex;
			align-items: center;
			gap: 30px;
			cursor: pointer;

			img {
				width: 25px;
			}

			.user_data {
				display: flex;
				gap: 20px;
				align-items: center;

				.nick_name {
					font-size: 24px;
					font-weight: 500;
					line-height: 130%;
					letter-spacing: 0%;
					text-align: center;
					color: #000;
				}

				.avatar {
					width: 35px;
					height: 35px;
					border-radius: 50%;
					background-color: aqua;
				}
			}
		}
	}
}